h1 { font-size: 1.5rem; }
h2 { font-size: 1.2rem; }

.main {
  margin: auto;
  max-width: 640px;
  line-height: 1.3;
}

.main-heading {
  margin: 1em 16px 0.5em 16px;
}

.required-asterisk {
  color: #f00;
}

.sign-up-form {
  margin: 16px;
  font-size: 18px;

  &-container {
    max-width: 480px;
    margin: auto;
  }

  &-submit-row {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  &-submit-spinner {
    height: 32px;
    display: none;
  }

  &-submit-row--processing &-submit-spinner {
    display: block;
  }

  &-submit-button {
    margin-right: 16px;
  }

  &-submit-row--processing &-submit-button {
    background-color: #666;
  }

  &-error-row {
    box-sizing: border-box;
    background-color: #ffa5a7;
    padding: .5em 8px;
    border-radius: 4px;
    border: 1px solid #9C1A1C;
    font-size: 14px;
    margin: 1em auto 0 auto;
  }

  legend {
    font-weight: bold;
  }

  label {
    margin-top: 1em;
  }

  &__unit-number-input {
    width: 5em;
  }


  &__accept-terms-label {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  &__accept-terms-checkbox {
    margin-right: 8px;
    line-height: 1.5;
  }
  &__accept-terms-label-text {
    line-height: 1.5;
    font-size: 14px;
  }
}

.sign-up-result {
  &-container {
    max-width: 480px;
    margin: auto;
  }

  &-heading {
    text-align: center;
  }

  &-icon {
    width: 128px;
    margin: auto;
  }
}